<nav>
    <a href="/movie">All Movies</a>
    <a href="/watchlist">My Watchlist</a>
    <a href="/myReviews">My Reviews</a>
        <!-- confirm is a js built-in thing -->
    <a href="/logout" onclick="return confirm('Are you sure you want to logout?')">Logout</a>
</nav>