<nav style="display:flex; justify-content:space-between; align-items:center;">

    <!-- LEFT SIDE -->
    <div>
        <a href="/movie">All Movies</a>&nbsp;&nbsp;
        <a href="/watchlist">My Watchlist</a>&nbsp;&nbsp;
        <a href="/watched">Watched Movies</a>&nbsp;&nbsp;
        <a href="/myReviews">My Reviews</a>&nbsp;&nbsp;
    </div>

    <!-- RIGHT SIDE -->
    <div>
        <span>Logged in as: <a href="/profile"><%= username %></a>&nbsp;&nbsp;</span>&nbsp;&nbsp;
        <a href="/logout" onclick="return confirm('Are you sure you want to logout?')">Logout</a>
    </div>

</nav>