<div style="
    width:100%;
    border-bottom:1px solid #ddd;
    padding:12px 30px;
    box-sizing:border-box;
    background:white;
">

    <nav style="
        display:flex;
        align-items:center;
        max-width:2000px;
        margin:0 auto;
    ">

        <!-- LEFT -->
        <div style="display:flex; gap:20px;">
            <a href="/movie">All Movies</a>
            <a href="/watchlist">My Watchlist</a>
            <a href="/watched">Watched Movies</a>
            <a href="/myReviews">My Reviews</a>
        </div>

        <!-- RIGHT -->
        <div style="
            display:flex;
            gap:15px;
            align-items:center;
            margin-left:auto;
        ">
            <% if (username) { %>
                <span>Logged in as <a href="/profile"><%= username %></a></span>
                <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            <% } %>
        </div>

    </nav>
</div>