<html>
   <head>
       <title>Reviews</title>
   </head>
   <body>
       <!--Seeing Reviews sent-->
       <h3>All Reviews</h3>

       <% if (reviews.length === 0) { %>
           <!-- Message when no reviews are given -->
           <p>No Reviews yet.</p>
       <% } else { %>
           <!-- EJS loop to render each blog post -->
           <% reviews.forEach(review => { %>
               <!--show review content-->
               <p><%= review.content %></p>
          
           <% }); %>
       <% } %>
   </body>
</html>





