<html>
    <body>
        <head><title>My Watchlist</title></head>
    <p>Here is your watch list:</p>
    <br>
    <a href="/my-reviews">My Reviews</a>
    <br>
    <a href="/logout">Logout</a>
    </body>
</html>